{% extends "bolig/base.html" %}

{% block content %}
<br><br><hr>

{% if form.errors %}
<p>Brukernavn og passord stemmer ikke. Vennligst prøv igjen.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

<table style = 'margin-left: 30px'>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<hr>

<input type="submit" value="logg inn" style  = 'margin-left: 30px;' />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}